DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/cubos_movies?schema=public"

JWT_SECRET="minha-chave-super-secreta-cubos-movies-2026"

CLOUDFLARE_ENDPOINT="https://***.r2.cloudflarestorage.com"
CLOUDFLARE_ACCESS_KEY_ID="***"
CLOUDFLARE_SECRET_ACCESS_KEY="***"
CLOUDFLARE_BUCKET_NAME="cubos-movies"
CLOUDFLARE_PUBLIC_URL="https://pub-***.r2.dev"

REDIS_HOST="localhost"
REDIS_PORT="6379"

RESEND_API_KEY="re_***"
