@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tema Claro (Light Mode) */
    --purple-1: #fdfdfe;
    --purple-2: #fcfaff;
    --purple-3: #f9f1fe;
    --purple-4: #f3e7fc;
    --purple-5: #eddbf9;
    --purple-6: #e3ccf4;
    --purple-7: #d3b4ed;
    --purple-8: #bc95e4;
    --purple-9: #8e4ec6; /* Cor principal - Botões default */
    --purple-10: #8445bc; /* Hover principal */
    --purple-11: #793aaf;
    --purple-12: #2b0e44;

    --mauve-1: #fdfcfd;
    --mauve-2: #f9f8f9;
    --mauve-3: #f4f2f4;
    --mauve-4: #eeedef;
    --mauve-5: #e9e8ea;
    --mauve-6: #e4e2e4;
    --mauve-7: #dcdbdd;
    --mauve-8: #c8c7cb;
    --mauve-9: #908e96;
    --mauve-10: #86848d;
    --mauve-11: #605e65; /* Textos secundários */
    --mauve-12: #1c1b1f; /* Textos principais */
  }

  /* Tema Escuro (Dark Mode) - O padrão do desafio */
  .dark {
    --purple-1: #14111a;
    --purple-2: #1b1525;
    --purple-3: #2b1d3d;
    --purple-4: #34234a;
    --purple-5: #3e2958;
    --purple-6: #4a3168;
    --purple-7: #5c3c82;
    --purple-8: #7349a6;
    --purple-9: #8e4ec6; /* Cor principal se mantém, com contraste ajustado se necessário */
    --purple-10: #9d5bd2;
    --purple-11: #bf7af0;
    --purple-12: #ebdcf9;
    --purple-13: #b744f7;

    --mauve-1: #121113; /* Fundo geral da página */
    --mauve-2: #1a191b; /* Fundo de cards e modais */
    --mauve-3: #232225;
    --mauve-4: #2b2a2d;
    --mauve-5: #323135;
    --mauve-6: #3c3a3f;
    --mauve-7: #49474d;
    --mauve-8: #625f69; /* Bordas e inputs */
    --mauve-9: #6f6d78;
    --mauve-10: #7c7a85;
    --mauve-11: #b5b3bc; /* Textos secundários (Labels, Sinopse) */
    --mauve-12: #eeeeec; /* Textos principais (Títulos) */
    --mauve-13: #ebeaf814;
  }

  /* Aplica as cores de fundo e texto globais baseadas no tema atual */
  body {
    @apply bg-[var(--mauve-1)] text-[var(--mauve-12)] antialiased;
  }
}
